/* contenedor del slider*/
.jcarousel-wrapper {

    margin: 20px;
    position: relative;
    border: 10px solid #fff;

    -webkit-border-radius: 5px;/*diseño*/
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    width:84%;/*he cambiado el tamaño del contenedor del carrousel*/


}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;

}


.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
   width: 615px;/*cambiado el tamaño de los li*/
	float: left;
	border: 1px solid #FFF;
	box-sizing: border-box;
	margin-right: 10px;
	margin-left:2px;/*bordes de separacion entre las fotos*/
}

.jcarousel img {
    display: block;
    max-width: 100%;
   
}

/**controles del jcarousel izq-drcha **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
   
    width: 30px;	/*tamaño*/
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;

    -webkit-border-radius: 30px;  /*diseño*/
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;

    -webkit-transform: translate(-50%, 0);  /*transiciones*/
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 5px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

/* TODO::estilo de las imagenes miniaturas
	si quieres quitarlo solo tienes que quitar este parte del css
*/
.wrapper-list{
	width: 630px;	
	margin-top: 50px;
}

.wrapper-list ul{  
	position: relative;
    list-style: none;
	}
.wrapper-list li{ 
	float: left;
	margin-right: 10px;
	border: 1px solid #E9E9E9;
	background-color: #F5F4F6;
	padding: 5px;
}


/* TODO::Es un fix para limpiar los floats,es una linea invisible debajo de los floats q los limpia*/
.clear{clear: both;}